<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.facebook-monetiser.scraper</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/northsea/clawd-dmitry/facebook-monetiser/run-scraper.sh</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/northsea/clawd-dmitry/facebook-monetiser/scraper.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/northsea/clawd-dmitry/facebook-monetiser/scraper-error.log</string>
    <key>StartInterval</key>
    <integer>3600</integer>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
